{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Forecast</title>

  <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>

<body>
  <div class="container">
    <h1>
      Berkeley
    </h1>
    <h2>
      60&deg;
    </h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Sun</h5>
            <p class="card-text">
              <p>
                <span style="font-size: 2em">☀️</span><br /> ↑ 70&deg;<br /> ↓ 52&deg;
              </p>
            </p>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-6">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Monday</h5>
                <p class="card-text">
                  June 24, 2019
                  <span style="font-size: 3em">☀️</span><br />
                  <span style="font-size: 2em">
                    ↑ 66&deg;<br />
                    ↓ 60&deg;
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Tue</h5>
                <p class="card-text">
                  <p>
                    <span style="font-size: 2em">⛅</span><br /> ↑ 70&deg;<br /> ↓ 40&deg;
                  </p>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <!-- FIXME: This is sorta weird. -->
            <br />
            <p id="knob">
              <span style="font-size: 4em">→</span>
            </p>
          </div>
          <div class="col-6">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Wed</h5>
                <p class="card-text">
                  ☁️
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>